<button id="toggle-form-button" onclick="toggleForm(this)" class="font-serif font-semibold flex justify-center items-center 
mb-4 mt-5 py-2 px-8 border-2 border-primary-500 rounded-lg bg-primary-light">Add New
    <i id="toggle-icon" class="fa-solid fa-angle-down ml-2"></i>
</button>