<!-- <footer class="fixed bottom-0 left-0 w-full bg-gray-800 text-white p-4 text-center"> -->
    <footer class="w-full h-6 bg-bacground p-4 text-center text-black dark:text-white">
    <p class="">&copy; 2024.</p>
</footer>