<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 
mt-4 w-full xl:w-4/5 mx-auto max-sm:w-4/5">
            <% movies && movies.forEach(movie => { %>
                <li class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow hover:shadow-lg transition-shadow 
                duration-300 hover:bg-gray-100 dark:hover:bg-gray-700
                 ">
                    <a href="/movies/<%= movie.movie_id %>" class="block text-center">
                             <img src="<%= movie.photo_url ? movie.photo_url : '/public/images/default.jpg' %>" alt="movie poster" 
                              class="w-full h-48 object-cover rounded-md mb-2">
                        
                        <h3 class="text-lg font-semibold text-primary-dark mt-2"><%= movie.title %></h3>
                    </a>
                </li>
            <% }) %>
        </ul>

     