<div id="passwordPrompt" style="display: none;">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" autocomplete="current-password">
    <button type="submit">Submit</button>
</div>