<div id="passwordPrompt" class="hidden">
    <div class="flex flex-row items-center flex-wrap">
        <div>
            <label for="password" class="mr-2">Password:</label>
            <input type="password" id="password" name="password" autocomplete="current-password"
                class="customInput text-black">
        </div>  
        <button type="submit" class="customBtn">Submit</button>
    </div>
    
</div>