<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link rel="icon" href="/public/favicon.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
    <%- include('partials/navbar', {links: links}) %>
    <h1>Genres List</h1>
    <%- include('partials/errors') %>
    <form action="/categories" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <button type="submit">Add Genre</button>
        </form> 

    <ul>
        <% genres.forEach(genre => { %>
            <li><%= genre.name %>
                <a href="/categories/<%= genre.id %>">View</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>