<nav>
    <ul>
      <% for (let i = 0; i < links.length; i++) { %>
        <li>
          <a href="<%= links[i].href %>">
            <span> <%= links[i].text %> </span>
          </a>
        </li>
      <% } %>
      <form action="/search" method="GET" style="display: inline;">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search</button>
      </form>
    </ul>
  </nav>